{% extends 'app_clubs/base/base.html' %}
{% load club_tags %}
{% load static %}

{% block content %}

<style>
        .img-post-list {
            height: 300px;
            background-size: cover;
            border: 1px solid white;
            border-radius: 4px;
        }

        .block-post-list {
            background-color: rgba(0, 0, 0, 0.32) !important;
            border: 1px solid white;
        }





</style>

<div class="container">
    <h1 class="" style="font-size: 64px; font-weight: bold">{{ current_club }}</h1>
    <!--    <img src="{{ current_club.image.url }}" style="width: 30%">-->
</div><br><br><br>

<div class="container">
    <h2 class="title-weight-section">События</h2><br>
    <div class="row row-cols-1 row-cols-md-3 g-4">
        {% for event in events %}

        <div class="col">
            <div class="card h-100" style="background-color: #e8e8e8;">

                <div class="card-body">
                    <a href="#" class="card-title text-decoration-none" style="color: black; font-weight: 700">
                        {{ event.title }}</a><br><br>
                    <a class="card-text text-decoration-none" href="#" style="color: black; font-weight: 500">
                        {{ event.description|truncatechars:200|safe }}</a>
                </div>
            </div>
        </div>

        {% endfor %}

    </div>
    <br>
    <p>Еще...</p>

</div>


<br><br><br>


<div class="container">
    <h2 class="title-weight-section">Статьи и новости</h2><br>
    <div class="row row-cols-1 row-cols-md-3 g-4">
        {% for post in posts %}

        <div class="col">
            <div class="card h-100" style="border: none">

                {% if post.image %}
                <div class="img-post-list" style="background-image: url({{ post.image.url }});">
                    {% else %}
                    <div class="img-post-list"
                         style="background-image: url({% static 'users/images/back_page_login.png' %});">
                        {% endif %}

                        <div class="card-img-overlay block-post-list">
                            <div>
                                <p class="card-text" style="color:white">Новости<i class="bi bi-dot"></i><small>9
                                    марта,
                                    2024</small></p>
                                <h5 class="card-title" style="color: white; font-weight: 600">{{ post.title }}</h5>
                            </div>


                        </div>
                    </div>


                </div>
            </div>

            {% endfor %}
        </div>
        <br>
        <p>Еще...</p>

    </div>
    <br><br><br>

    <div class="container">
        <div class="row gy-5">

            {% for member in members %}



            <div class="col-12 col-md-6 col-lg-3">

                    {% if member.image %}

                    <div class="mb-4 img-post-list" style="background-image: url({{ member.image.url }}); border-radius: 25px;">


                    {% else %}

                    {% endif %}
                </div>
                <div class="mb-4">
                    <h4 class="mb-1"><a href="#!" class="text-reset">{{ member.fio }}</a></h4>
                    <span class="fs-6">Co-Founder &amp; CEO</span>
                </div>
            </div>

            {% endfor %}

        </div>
    </div>


    <br><br><br><br><br>

    {% endblock %}