{% extends 'app_clubs/base/base.html' %}
{% load static %}
{% block content %}

    <br><br>
    <div class="container">
        <div class="row">
            <div class="col-md-4">

                {% if request.user.image and type_profile == 'my_page' %}

                    <img src="{{ request.user.image.url }}" class="img-fluid rounded-start"
                         style="height: 300px; width: 100%; object-fit: cover">

                {% endif %}

                {% if type_profile == 'foreign_profile' and image %}
                    <img src="{{ image.url }}" class="img-fluid rounded-start"
                         style="height: 300px; width: 100%; object-fit: cover">

                {% endif %}


            </div>
            <div class="col-md-6">
                <div class="card-body">
                    {% if type_profile == 'foreign_profile' %}
                        <h2 class="card-title">{{ fio }}</h2><br>
                        <p class="card-text">{{ desc|truncatechars:400 }}</p>
                        <a href="{% url 'app_clubs:send_msg' club_slug=club.slug pk=pk %}"
                           class="btn btn-secondary btn-black-white">Отправить сообщение</a>
                    {% endif %}

                    {% if type_profile == 'my_page' %}
                        <h2 class="card-title">{{ request.user.fio }}</h2><br>
                        <p class="card-text">{{ request.user.desc|truncatechars:400 }}</p>
                        <a href="{% url 'users:edit_profile' pk=request.user.pk %}"
                           class="btn btn-secondary btn-black-white">Редактировать профиль</a>
                    {% endif %}

                </div>
            </div>
        </div>
    </div>



    <br><br>

    <br><br>


    {% if not fio %}



        <div class="container">
            <h1 class="title-weight-section">Мои клубы</h1><br>
            <div class="row row-cols-1 row-cols-md-3 g-4">
                {% for club in my_clubs %}

                    <div class="col">
                        <div class="card h-100">
                            {% if club.image %}
                                <div style="overflow: hidden; height: 200px;">
                                    <img style="object-fit: cover; height: 100%; width: 100%;"
                                         src="{{ club.image.url }}" class="card-img-top">

                                </div>

                            {% endif %}
                            <div class="card-body">
                                <p class="card-title" style="font-size: 30px; font-weight: 600">{{ club.title }}</p>
                                <a href="{% url 'app_clubs:profile_club' club.slug %}"
                                   class="btn join-btn">Перейти <i class="bi bi-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>

                {% endfor %}
            </div>
        </div>
    {% endif %}
    <br><br><br><br><br>
{% endblock %}