{% extends 'app_clubs/base/base.html' %}
{% load club_tags %}
{% load static %}

{% block content %}

    <style>
        .img-post-list {
            height: 300px;
            background-size: cover;
            border: 1px solid white;
            border-radius: 4px;
        }

        .block-post-list {
            background-color: rgba(0, 0, 0, 0.32) !important;
            border: 1px solid white;
        }

    </style>
    {#    {% show_main_img height='300' title='Профиль клуба' opacity='0.9' src='app_clubs/images/main_page.png' %}#}
    <br>
    <h1 class="container" style="font-size: 64px; font-weight: bold">{{ current_club }}</h1><br><br>

    <div class="container">
        <div class="row row-cols-1 row-cols-md-3 g-4">
            {% for post in posts %}

                <div class="col">
                    <div class="card h-100" style="border: none">

                        {% if post.image %}
                            <div class="img-post-list" style="background-image: url({{ post.image.url }});">
                        {% else %}
                            <div class="img-post-list" style="background-image: url({% static 'users/images/back_page_login.png' %});">
                        {% endif %}

                            <div class="card-img-overlay block-post-list">
                                <div>
                                    <p class="card-text" style="color:white">Новости<i class="bi bi-dot"></i><small>9
                                        марта,
                                        2024</small></p>
                                    <h5 class="card-title" style="color: white; font-weight: 600">{{ post.title }}</h5>
                                </div>


                            </div>
                        </div>

                    </div>
                </div>

            {% endfor %}
        </div>
    </div>



    {#    <img src="{{ current_club.image.url }}" style="width: 30%">#}



    {#    <div class="container">#}
    {#        <div class="row">#}
    {#            <div class="col-sm-6">#}
    {#                <p class="rightside-title">Уведомления клуба</p>#}
    {#                <p class="rightside-text"><i class="bi bi-clock"></i> Встреча участников</p>#}
    {#                <hr style="width: 75%">#}
    {#                <p class="rightside-text"><i class="bi bi-clock"></i> Экскурсия в АиБ+ЭРИКОС уже завтра! Записывайся скорее!</p>#}
    {#                <hr style="width: 75%">#}
    {#                <p class="rightside-text"><i class="bi bi-clock"></i> Встреча участников</p>#}
    {#                <hr style="width: 75%">#}
    {#                <p>Еще...</p>#}
    {#            </div>#}
    {#            <div class="col-sm-6">#}
    {#                <p class="rightside-title">Ближайшие события</p>#}
    {#                {% for event in events %}#}
    {#                    <p class="rightside-text"><i class="bi bi-clock"></i> {{ event }}</p>#}
    {#                    <hr style="width: 80%">#}
    {#                {% endfor %}#}
    {#                <p>Еще...</p>#}
    {#            </div>#}

    {#            <div class="col-sm-4">#}
    {#                <p class="rightside-title">Участники</p>#}
    {#                {% for member in members %}#}
    {##}
    {#                    <p class="rightside-text"><i class="bi bi-person-circle"></i> {{ member }}</p>#}
    {#                    <hr style="width: 70%">#}
    {#                {% endfor %}#}
    {#            <p>Еще...</p>#}
    {#            </div>#}
    {#        </div>#}
    {#    </div>#}





{% endblock %}