{#{% load static %}#}
{#<!DOCTYPE html>#}
{#<html lang="en">#}
{#<head>#}
{% extends 'app_clubs/base/base.html' %}
{#</head>#}
{#<body>#}
{% block content %}
     <style>
        .img-post-list {
            height: 300px;
            background-size: cover;
            border: 1px solid white;
            border-radius: 4px;
        }

        .block-post-list {
            background-color: rgba(0, 0, 0, 0.32) !important;
            border: 1px solid white;
        }


    </style>

    {% if content_type == 'events' %}
        <br>
        {% include 'app_clubs/base/base_show_events.html' with param="None" %}
    {% elif content_type == 'posts' %}
        <br>
        {% include 'app_clubs/base/base_show_posts.html' with param="None" %}
    {% elif content_type == 'members' %}
        <br>
        {% include 'app_clubs/base/base_show_members.html' with param="None" %}
    {% else %}
        <h1>{{ content_type }}</h1>
    {% endif %}
{% endblock %}
{#</body>#}
{#</html>#}



