{% load static %}
{% load club_filters %}

<div class="container">
    <h2 class="title-weight-section">События</h2><br>
    <div class="row row-cols-1 row-cols-md-3 g-4">
        {% for part in events|list_content:param %}

            <div class="col">
                <div class="card h-100" style="background-color: #e8e8e8;">

                    <div class="card-body">
                        <a href="#" class="card-title text-decoration-none"
                           style="color: black; font-weight: 700">
                            {{ part.title }}</a><br><br>
                        <a class="card-text text-decoration-none" href="#"
                           style="color: black; font-weight: 500">
                            {{ part.description|truncatechars:200|safe }}</a>
                    </div>
                </div>
            </div>

        {% endfor %}

    </div>
    <a href="{% url 'app_clubs:show_content' content='events' %}">Еще...</a>

</div>