{% load static %}

<!DOCTYPE html>
<html lang="en">
{% include 'app_clubs/base/header_links.html' %}
<body>
<head>
{% include 'app_clubs/base/navbar.html' %}
</head>
<style>
    .asteriskField {
        display: none;
    }

    @font-face {
        font-family: 'NT_Sakharov';
        src: url('{% static 'app_clubs/fonts/NT Sakharov Result-VF.ttf' %}') format('truetype');
    }

    body {
        font-family: 'NT_Sakharov', sans-serif;
    }
</style>


{% block content %}
{% endblock %}


{#{% include 'app_clubs/base/footer.html' %}#}
</body>
</html>