.block-opacity {
    background-color: rgba(170, 161, 161, 0.74) !important;
    /*border: 1px solid */
}

/*.input-height{*/
/*    height: 40px;*/
/*    width: 350px;*/
/*}*/

.input-height::placeholder{
    color: white;
}

.btn-secondary{
    border: 1px solid #FFFFFF;
    background: #FFFFFF !important;
    color: #101820;
}
.btn-secondary:hover{
    border: 1px solid #FFFFFF;
    background: #FFFFFF !important;
    color: #101820;
}

.btn-outline-secondary{
    color: #FFFFFF;
    border: 1px solid white;
    transition: 0.6s;
}

.btn-outline-secondary:hover{
    color: #101820;
    background-color: white;
    border: 1px solid white;

}
.main-block-login{
    /*display: block;*/
}


.input-file-opacity{
    background-color: rgba(170, 161, 161, 0.74) !important;
}

@media (max-width: 710px) {
    .arrow-lg{
        display: none !important;
    }
}

@media (min-width: 711px) {
    .arrow-small{
        display: none !important;
    }
}