{#{% extends 'users/base/base.html' %}#}
{#{% load crispy_forms_filters %}#}
{#{% load crispy_forms_tags %}#}
{##}
{#{% block content %}#}
{##}
{#    <div class="container">#}
{#        <form method="post" enctype="multipart/form-data">{% csrf_token %}#}
{#            {{ form|crispy }}#}
{#            <button type="submit" class="btn btn-primary">Сохранить</button>#}
{#        </form>#}
{#    </div>#}
{##}
{#{% endblock %}#}
{% extends 'users/base/base.html' %}
{% load static %}

{% block content %}
    <a href="{% url 'app_clubs:home_page' %}" style="color: #101820">
        <i class="bi bi-box-arrow-in-left" style="margin-left: 40px; font-size: 50px"></i>
    </a>
    <style>
        html,
        body {
            height: 100%;
            background-size: cover;
            background-image: url({% static 'users/images/back_page_login.png' %});
        }

        .form-signin {
            max-width: 530px;
            padding-top: 50px;
            padding-bottom: 50px;
        }

        .form-signin .form-floating:focus-within {
            z-index: 2;
        }

        .form-signin {
            margin-bottom: -1px;
            border-bottom-right-radius: 0;
            border-bottom-left-radius: 0;
        }

        .form-signin {
            margin-bottom: 10px;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
        }
    </style>

    <main style="height:{% if height %}{{ height }}{% else %}600px{% endif %}"
          class="block-opacity form-signin w-100 m-auto d-flex justify-content-center position-absolute top-50 start-50 translate-middle">
        <div>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <h1 class="h3 mb-1 fw-normal" style="color: #FFFFFF; font-weight: bold !important;">Давайте
                    начинать!</h1><br>
                {{ form.username }}<br>
                {{ form.fio }}<br>
                {{ form.tg }}<br>
                {{ form.desc }}<br>
                {{ form.image }} <br>
                {{ form.password1 }}<br>
                {{ form.password2 }} <br>
                {% if type_btn %}

                    <button class="btn btn-secondary w-100 py-2" type="submit">{{ type_btn }}</button>
                {% else %}
                    <button class="btn btn-secondary w-100 py-2" type="submit">Зарегистрироваться</button>

                {% endif %}


                <br><br>
                <a class="btn btn-outline-secondary w-100 py-2" href="{% url 'users:login' %}">Войти</a>
            </form>

        </div>
    </main>


{% endblock %}

